*{
    font-family: 'Indie Flower', cursive;

}
.bolder{
    font-weight: bolder;
    font-size: 20px;
    
}
form .btn{
    border-radius: 20px;
    font-weight: bold;
}
form .inp{
    border-radius: 20px;
    background-color: rgb(170, 170, 19);

}
section .text{
    text-justify: auto;
}
.text-justify{
    text-align: justify;
}